src/flows/flowr-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>typer</name>
        <dataType>String</dataType>
        <displayField>Type_del__c</displayField>
        <filters>
            <field>Type_del__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_del__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Producer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_del__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_del__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Actress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_del__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Co-actor</stringValue>
            </value>
        </filters>
        <object>Cast_and_crew__c</object>
    </dynamicChoiceSets>
    <interviewLabel>flowr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flowr</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CACR</name>
        <label>CACR</label>
        <locationX>198</locationX>
        <locationY>416</locationY>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>as.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_del__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Cast_and_crew__c</object>
    </recordCreates>
    <recordCreates>
        <name>CREATE_CON</name>
        <label>CREATE CON</label>
        <locationX>192</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>CAC</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>CAC</name>
        <label>CAC</label>
        <locationX>198</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CACR</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>typer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CON</name>
            <fieldText>{!as}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>195</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CREATE_CON</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Contact</startElementReference>
    <variables>
        <name>as</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
